# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log
logs/

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.Trash-*

# local env files
.env*.local
.env
.env.*
!.env.example
!.env.template

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# tooling & caches
.vscode/
.idea/
*.swp
*.swo
.cache/
.parcel-cache/
.turbo/
coverage/
build/
